---
import type {
    PortfolioEntry,
    PortfolioPageEntry,
    PortfolioPageEntryMetaItem,
} from '../../../bcms/types/ts';

import { BCMSImage } from '@thebcms/components-react';
import AnimatedTitle from '../../components/AnimatedTitle';
import Layout from '../../layouts/Layout.astro';
import ContentManager from '../../components/ContentManager';
import { bcmsPrivate } from '../../bcms-private';
import { bcmsPublic } from '../../bcms-public';

const portfolioPageEntry = (await bcmsPrivate.entry.getBySlug(
    'portfolio',
    'portfolio-page',
)) as PortfolioPageEntry;
const portfolioPageMeta = portfolioPageEntry.meta
    .en as PortfolioPageEntryMetaItem;
const portfolioEntries = (await bcmsPrivate.entry.getAll(
    'portfolio',
)) as PortfolioEntry[];

const bcmsConfig = bcmsPublic.getConfig();
---

<Layout
    title={`${portfolioPageMeta.seo?.title || portfolioPageMeta.title} - Personal Website`}
>
    <div class="pt-8 pb-10 overflow-hidden md:pb-20 lg:pt-[72px] lg:pb-[120px]">
        <div class="container">
            <AnimatedTitle
                title={portfolioPageMeta.title}
                className="mb-10 md:mb-20 lg:mb-[192px]"
                titleClassName="text-[114px] flex-shrink-0 leading-none font-Helvetica tracking-[1.59px] sm:text-[190px] md:text-[220px] lg:text-[300px] lg:tracking-[5.59px] xl:text-[464px]"
                client:load
            />
            <div class="grid grid-cols-1 gap-[33px] lg:gap-20">
                {
                    portfolioEntries.map((item) => (
                        <a href={`/portfolio/${item.meta.en?.slug}`}>
                            {item.meta.en?.gallery?.[0] && (
                                <BCMSImage
                                    media={item.meta.en.gallery[0]}
                                    clientConfig={bcmsConfig}
                                    className="w-full aspect-[2.07] object-cover rounded-[6px] overflow-hidden mb-4 lg:rounded-3xl lg:mb-12"
                                    client:load
                                />
                            )}
                            <div class="lg:flex lg:items-start lg:justify-between">
                                <h3 class="flex text-sm leading-none tracking-[-0.41px] font-Helvetica mb-3 md:text-2xl md:leading-none lg:text-[32px]">
                                    {item.meta.en?.brand_name}
                                    <span class="text-[10px] ml-1.5 md:text-sm lg:text-xl">
                                        &#169;
                                    </span>
                                </h3>
                                <ContentManager
                                    items={
                                        item.meta.en?.description.nodes || []
                                    }
                                    className="text-sm leading-[1.4] tracking-[-0.41px] text-appGray-400 lg:text-[15px] lg:max-w-[551px]"
                                />
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
