---
import Header from '../components/layout/Header';
import Footer from '../components/layout/Footer';
import '../styles/fonts.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
const ogImageUrl = '/thumbnail.jpg';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Jumpstart your Astro project with this BCMS starter. Easily manage your content and scale your application without the backend hassle. Get started now!"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:image" content={ogImageUrl} />
        <meta property="og:image:secure_url" content={ogImageUrl} />
        <meta property="twitter:title" content="Personal Website" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:image" content={ogImageUrl} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body class="font-inter overflow-x-hidden bg-appBody text-appText">
        <div class="overflow-hidden flex flex-col min-h-screen">
            <Header />
            <main class="flex flex-col flex-1"><slot /></main>
            <Footer />
        </div>
    </body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    *,
    *::before,
    *::after {
        @apply box-border m-0 p-0;
    }
</style>
