---
import { bcms } from '../bcms-client';
import type {
    AboutPageEntry,
    AboutPageEntryMetaItem,
} from '../../bcms/types/ts';

import Layout from '../layouts/Layout.astro';
import { BCMSImage } from '@thebcms/components-react';
import ContentManager from '../components/ContentManager';
import AnimatedTitle from '../components/AnimatedTitle';

const aboutPageEntry = (await bcms.entry.getBySlug(
    'about',
    'about-page',
)) as AboutPageEntry;

const aboutPageMeta = aboutPageEntry.meta.en as AboutPageEntryMetaItem;

const bcmsConfig = bcms.getConfig();
---

<Layout
    title={`${aboutPageMeta.seo?.title || aboutPageMeta.title} - Personal Website`}
>
    <div class="pt-8 pb-10 overflow-hidden md:pb-20 lg:pt-[72px] lg:pb-[120px]">
        <div class="container mb-10 lg:mb-[128px] xl:pr-[220px]">
            <AnimatedTitle
                title={aboutPageMeta.title}
                className="mb-10 md:mb-20 lg:mb-[192px]"
                titleClassName="text-[114px] flex-shrink-0 leading-none font-Helvetica tracking-[1.59px] sm:text-[190px] md:text-[220px] lg:text-[300px] lg:tracking-[5.59px] xl:text-[464px]"
                client:load
            />
            <div class="mb-8 lg:flex lg:items-start lg:gap-[98px] lg:mb-14">
                <div
                    class="flex items-center mb-[14px] flex-shrink-0 lg:w-[200px]"
                >
                    <div
                        class="w-1.5 h-1.5 flex-shrink-0 bg-appText rounded-full mr-2 lg:w-2 lg:h-2 lg:mr-4"
                    >
                    </div>
                    <div
                        class="text-lg leading-none font-Helvetica tracking-[-0.41px] lg:text-[32px]"
                    >
                        {aboutPageMeta.education_title}
                    </div>
                </div>
                <div>
                    <ContentManager
                        items={aboutPageMeta.education_description.nodes}
                        className="text-sm leading-[1.4] tracking-[-0.41px] text-appGray-400 mb-6 lg:text-base lg:leading-[1.4] lg:mb-8"
                    />
                    <div class="flex flex-wrap gap-3">
                        {
                            aboutPageMeta.education_degrees.map((degree) => (
                                <div class="flex text-sm leading-none tracking-[-0.41px] text-appGray-500 font-medium px-4 py-3 border border-appGray-200 rounded-[32px] lg:text-base lg:leading-none">
                                    {degree}
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
            <div class="lg:flex lg:items-start lg:gap-[98px]">
                <div
                    class="flex items-center mb-[14px] flex-shrink-0 lg:w-[200px]"
                >
                    <div
                        class="w-1.5 h-1.5 flex-shrink-0 bg-appText rounded-full mr-2 lg:w-2 lg:h-2 lg:mr-4"
                    >
                    </div>
                    <div
                        class="text-lg leading-none font-Helvetica tracking-[-0.41px] lg:text-[32px]"
                    >
                        {aboutPageMeta.work_history_title}
                    </div>
                </div>
                <div>
                    <ContentManager
                        items={aboutPageMeta.work_history_description.nodes}
                        className="text-sm leading-[1.4] tracking-[-0.41px] text-appGray-400 mb-6 lg:text-base lg:leading-[1.4] lg:mb-8"
                    />
                    <div class="flex flex-wrap gap-3">
                        {
                            aboutPageMeta.work_history_items.map((item) => (
                                <div class="flex items-center text-sm leading-none tracking-[-0.41px] text-appGray-500 px-4 py-3 border border-appGray-200 rounded-[32px] lg:text-base lg:leading-none">
                                    <span>{item.company_name}</span>
                                    <span class="w-[3px] h-[3px] rounded-full bg-appGray-500 mx-1.5 lg:mx-2" />
                                    <span>
                                        {new Date(
                                            item.from.timestamp,
                                        ).getFullYear()}
                                    </span>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
        <BCMSImage
            media={aboutPageMeta.cover_image}
            clientConfig={bcmsConfig}
            className="w-full object-cover aspect-[1.84] mb-10 lg:aspect-[2.59] lg:mb-20"
            client:load
        />
        <div class="container">
            <div class="max-w-[969px] mx-auto">
                <ContentManager
                    items={aboutPageMeta.awards_title.nodes}
                    className="text-lg leading-[1.2] tracking-[-0.41px] font-Helvetica mb-6 lg:text-[40px] lg:mb-16"
                />
                <div class="grid grid-cols-1 gap-[14px] lg:gap-6">
                    {
                        aboutPageMeta.awards_items.map((award) => (
                            <div class="flex items-center justify-between pb-[14px] border-b border-appGray-200 lg:pb-6">
                                <div class="flex">
                                    <span class="text-xs leading-none tracking-[-0.41px] mr-1 lg:text-base lg:leading-none lg:mr-2">
                                        {award.place}
                                    </span>
                                    <span class="text-sm leading-none tracking-[-0.41px] text-appGray-400 lg:text-2xl lg:leading-none">
                                        {award.title}
                                    </span>
                                </div>
                                <div class="text-sm leading-none tracking-[-0.41px] lg:text-base lg:leading-none">
                                    (
                                    {new Date(
                                        award.date.timestamp,
                                    ).getFullYear()}
                                    )
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</Layout>
