---
import type { AboutPageEntry, AboutPageEntryMetaItem } from "../../../bcms/types/ts";
import { bcms } from "../../bcms-client";
import AboutHero from "../../components/about-page/Hero";
import AboutTextImage from "../../components/about-page/TextImage";
import Layout from "../../layouts/Layout.astro";

const aboutPageEntry = (await bcms.entry.getBySlug(
    'about-us',
    'about-page',
)) as AboutPageEntry;

if (!aboutPageEntry) {
    return notFound();
}

const aboutPageMeta = aboutPageEntry.meta.en as AboutPageEntryMetaItem;

const bcmsConfig = bcms.getConfig();
---

<Layout title={`${aboutPageMeta.seo?.title || aboutPageMeta.title} - Tastyyy`}>
    <div>
        <AboutHero
            title={aboutPageMeta.hero_title}
            subtitle={aboutPageMeta.hero_subtitle}
            description={aboutPageMeta.hero_description}
            cover={aboutPageMeta.hero_cover}
            client:load
            bcmsConfig={bcmsConfig}
        />
        <AboutTextImage
            data={aboutPageMeta.text_image_cols}
            client:load
            bcmsConfig={bcmsConfig}
        />
    </div>
</Layout>
