---
import Header from '../components/layout/Header';
import Footer from '../components/layout/Footer';
import type {
    HeaderEntry,
    HeaderEntryMetaItem,
} from '../../bcms/types/ts/entry/header';
import { bcms } from '../bcms-client';
import type {
    FooterEntry,
    FooterEntryMetaItem,
} from '../../bcms/types/ts/entry/footer';

interface Props {
    title: string;
}

const { title } = Astro.props;
const ogImageUrl = '/thumbnail.jpg';

const headerEntry = (await bcms.entry.getBySlug(
    'header',
    'header',
)) as HeaderEntry;
const header = headerEntry.meta.en as HeaderEntryMetaItem;
const footerEntry = (await bcms.entry.getBySlug(
    'footer',
    'footer',
)) as FooterEntry;
const footer = footerEntry.meta.en as FooterEntryMetaItem;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Jumpstart your Astro project with this BCMS starter. Easily manage your content and scale your application without the backend hassle. Get started now!"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:image" content={ogImageUrl} />
        <meta property="og:image:secure_url" content={ogImageUrl} />
        <meta property="twitter:title" content="Flavour Fushion" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:image" content={ogImageUrl} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body class="font-inter overflow-x-hidden bg-white">
        <div class="overflow-hidden flex flex-col min-h-screen">
            <Header header={header} />
            <main class="flex flex-col flex-1"><slot /></main>
            <Footer footer={footer} />
        </div>
    </body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    *,
    *::before,
    *::after {
        @apply box-border m-0 p-0;
    }

    /* Transitions */
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.3s;
    }
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
</style>
