---
import { bcms } from '../bcms-client';
import type {
    PortfolioEntry,
    PortfolioPageEntry,
    PortfolioPageEntryMetaItem,
} from '../../bcms/types/ts';

import Layout from '../layouts/Layout.astro';
import ContactBlock from '../components/ContactBlock';
import Hero from '../components/Hero';
import List from '../components/portfolio-page/List';

const portfolioPageEntry = (await bcms.entry.getBySlug(
    'portfolio',
    'portfolio-page',
)) as PortfolioPageEntry;
const portfolioPageMeta = portfolioPageEntry.meta
    .en as PortfolioPageEntryMetaItem;
const portfolioEntries = (await bcms.entry.getAll(
    'portfolio',
)) as PortfolioEntry[];

const bcmsConfig = bcms.getConfig();
---

<Layout
    title={`${portfolioPageMeta.seo?.title || portfolioPageMeta.title} - BrandCrafters`}
>
    <div>
        <Hero
            title={portfolioPageMeta.title}
            subtitle="Team"
            description={portfolioPageMeta.description}
            client:load
        />
        <List items={portfolioEntries} bcmsConfig={bcmsConfig} client:load />
        <ContactBlock
            title={portfolioPageMeta.contact_title}
            description={portfolioPageMeta.contact_description}
        />
    </div>
</Layout>
