---
import { bcms } from '../bcms-client';
import type {
    ServiceEntry,
    ServicesPageEntry,
    ServicesPageEntryMetaItem,
} from '../../bcms/types/ts';

import Layout from '../layouts/Layout.astro';
import ContactBlock from '../components/ContactBlock';
import Hero from '../components/Hero';
import List from '../components/services-page/List';

const servicesPageEntry = (await bcms.entry.getBySlug(
    'services',
    'services-page',
)) as ServicesPageEntry;
const servicesPageMeta = servicesPageEntry.meta.en as ServicesPageEntryMetaItem;
const servicesEntries = (await bcms.entry.getAll('service')) as ServiceEntry[];

const bcmsConfig = bcms.getConfig();
---

<Layout
    title={`${servicesPageMeta.seo?.title || servicesPageMeta.title} - BrandCrafters`}
>
    <div>
        <Hero
            title={servicesPageMeta.title}
            subtitle="Team"
            description={servicesPageMeta.description}
        />
        <List items={servicesEntries} bcmsConfig={bcmsConfig} client:load />
        <ContactBlock
            title={servicesPageMeta.contact_title}
            description={servicesPageMeta.contact_description}
        />
    </div>
</Layout>
